wp-config.php

htdocs/wp/index.php
htdocs/wp/license.txt
htdocs/wp/readme.html
htdocs/wp/wp-activate.php
htdocs/wp/wp-admin/
htdocs/wp/wp-blog-header.php
htdocs/wp/wp-comments-post.php
htdocs/wp/wp-config-sample.php
htdocs/wp/wp-content/index.php
htdocs/wp/wp-content/plugins/akismet/
htdocs/wp/wp-content/plugins/hello.php
htdocs/wp/wp-content/plugins/index.php
htdocs/wp/wp-content/themes/index.php
htdocs/wp/wp-content/themes/twentyfourteen/
htdocs/wp/wp-content/themes/twentythirteen/
htdocs/wp/wp-content/themes/twentytwelve/
htdocs/wp/wp-includes/
htdocs/wp/wp-cron.php
htdocs/wp/wp-links-opml.php
htdocs/wp/wp-load.php
htdocs/wp/wp-login.php
htdocs/wp/wp-mail.php
htdocs/wp/wp-settings.php
htdocs/wp/wp-signup.php
htdocs/wp/wp-trackback.php
htdocs/wp/xmlrpc.php
.settings/
htdocs/vendor/
htdocs/wp/wp-content/themes/
htdocs/.htaccess
htdocs/composer.lock
htdocs/wp-content/plugins/timber/
htdocs/wp-content/plugins/woocommerce/
htdocs/wp/wp-content/plugins/timber/
htdocs/wp/wp-content/plugins/woocommerce/
node_modules/
htdocs/wp/wp-content/plugins/ml-slider/
