.htaccess
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
sitemap.xml
*.log
wp-content/cache/
wp-content/backups/
sitemap.xml.gz
wp-config.php

htdocs/index.php
htdocs/license.txt
htdocs/readme.html
htdocs/wp-activate.php
htdocs/wp-admin/
htdocs/wp-blog-header.php
htdocs/wp-comments-post.php
htdocs/wp-config-sample.php
htdocs/wp-content/index.php
htdocs/wp-content/plugins/akismet/
htdocs/wp-content/plugins/hello.php
htdocs/wp-content/plugins/index.php
htdocs/wp-content/themes/index.php
htdocs/wp-content/themes/twentyfourteen/
htdocs/wp-content/themes/twentythirteen/
htdocs/wp-content/themes/twentytwelve/
htdocs/wp-includes/
htdocs/wp-cron.php
htdocs/wp-links-opml.php
htdocs/wp-load.php
htdocs/wp-login.php
htdocs/wp-mail.php
htdocs/wp-settings.php
htdocs/wp-signup.php
htdocs/wp-trackback.php
htdocs/xmlrpc.php
